<p>register-edit-employee works!</p>

<div class="register-edit-employee">
    <app-create-edit-form [isEditMode]="isEditMode"></app-create-edit-form>
</div>
<footer class="form-footer">
        <button 
            mat-raised-button color="primary" 
            [disabled]="!isFormValid()"
            (click)="submitForm()"
        >
            {{ isEditMode ? 'Update Employee' : 'Create Employee' }}
        </button>
        <button mat-raised-button color="warn" (click)="cancelForm()">
            Cancel
        </button>
</footer>